

<div class="d-flex button-bar align-middle">
<button (click)="generate()" type="button" class="mr-3 p-2 btn  btn-primary">Generate</button>
<button data-toggle="modal" data-target="#listNum" type="button" class="mr-3 p-2 btn  btn-outline-info">Show list</button>

<button type="button" (click)='reset()' class="btn ml-auto p-2 btn-danger">Reset</button>
</div>
<mat-grid-list (window:resize)="onResize($event)" [cols]="breakpoint" rowHeight="2:1">
  
  <mat-grid-tile [ngClass]="{'current' : data.currentNumber==i+1}" *ngFor="let item of array(90); index as i;" id="tile-{{i+1}}">{{i+1}}</mat-grid-tile>
</mat-grid-list>


<div class="modal fade" id="listNum" tabindex="-1" role="dialog" aria-labelledby="listNum" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Last Called numbers</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
  <li class="list-group-item" *ngFor="let number of numberList">{{number}}</li>
</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
      </div>
    </div>
  </div>
</div>